@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff7a00;
  --secondary-color: #585858;
  --tertiary-color: #afb0b1;
  --dark-color: #2f2f2f;
  --border-color: #eeeeee;
  --background-color: #fffbf6;
  --rare-color: #7f8b94;
  --body-color: #fdfdfd;
  --white: #ffffff;
}

html {
  font-size: 16px;
}

body {
  font-family: "Mulish";
  height: 100vh;
  background-color: var(--body-color);
}

.container {
  display: flex;
  height: 100%;
}

/* login screen  */
.left-side {
  width: 100%;
  padding: 1rem 7%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  form {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }

  .logo img {
    width: 3.125rem;
    /* margin-bottom: 0.9375rem; */
  }

  h2 {
    font-size: 1.875rem;
    color: var(--secondary-color);
  }

  .Welcome {
    font-size: 0.875rem;
    color: var(--tertiary-color);
  }

  .input-one,
  .input-two {
    border: 0.0625rem solid var(--white);
    background-color: var(--white);
    margin-bottom: 0.9375rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    input {
      width: 90%;
      height: 1.25rem;
      border: none;
      outline: none;
    }

    i {
      float: right;
    }

    &:hover {
      border: 0.0625rem solid var(--primary-color);
    }
  }

  label {
    display: block;
  }

  .show-hide-btn {
    outline: none;
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-size: 0.625rem;
    cursor: pointer;
  }

  .input-one label {
    margin-bottom: 0.3125rem;
  }

  .label-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3125rem;
  }

  .margin-42 {
    display: flex;
    justify-content: space-between;
    padding-top: 0.3125rem;
  }

  .check {
    display: inline-flex;
    gap: 2.5rem;
    margin-bottom: 0.9375rem;
  }

  .logged-in {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
  }
  .check label {
    color: var(--rare-color);
    cursor: pointer;
  }

  .check input[type="checkbox"] {
    accent-color: var(--primary-color);
  }

  .resetPassword {
    text-decoration: none;
    color: var(--rare-color);
  }

  .login-btn {
    background-color: var(--primary-color);
    width: 100%;
    padding: 0.75rem 0 0.75rem 0;
    margin-top: 1.25rem;
    color: var(--white);
    font-size: 1.25rem;
    border-radius: 0.3125rem;
    border: none;
    cursor: pointer;
  }
}

.right-side {
  width: 100%;
  background: url(image/loginheroimage.png), var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
  align-items: end;

  .help a {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  .card {
    display: flex;
    width: 100%;
  }

  .left {
    background-color: #f3f5f6;
    border-radius: 0.625rem 0rem 0rem 0.625rem;
    padding: 0.625rem;
    display: grid;
    place-content: center;

    img {
      width: 3.125rem;
      height: auto;
    }
  }

  .right {
    background-color: var(--white);
    padding: 1.25rem 0.625rem 0.625rem 1.25rem;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
    display: grid;
    place-content: center;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.625rem;
      color: var(--secondary-color);
    }
    p {
      font-size: 0.75rem;
      font-weight: 100;
      color: var(--secondary-color);
      margin-bottom: 0.3125rem;
    }
  }
}
/* login screen  */

/* Dashboard Style */
.container-dash {
  display: flex;
  height: 100%;

  aside {
    background-color: var(--white);
    border-right: 0.0625rem solid var(--border-color);
    /* flex: 1 1 10%; */
    /* padding: 1.875rem; */
    display: flex;
    /* flex-direction: column; */

    nav {
      background-color: var(--dark-color);
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      align-items: center;
      padding-top: 5.9375rem;

      a {
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.625rem;

        &:hover {
          background-color: var(--white);
          color: var(--primary-color);
        }
      }
    }

    .right-aside {
      .topimg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.25rem;

        i {
          font-size: 1.875rem;
          position: relative;
          bottom: -0.625rem;
          display: none;
        }
      }
    }
    img {
      margin-top: 1.25rem;
      padding: 0.9375rem;
      width: 10.375rem;
    }

    ul {
      padding: 0.9375rem;

      a {
        text-decoration: none;
        color: var(--secondary-color);

        &:hover {
          color: var(--primary-color);
        }
      }

      li {
        list-style: none;
      }

      .list {
        display: flex;
        flex-direction: row;
        padding-bottom: 1.0625rem;
      }
    }
    .active {
      color: var(--primary-color);
    }
  }

  .list {
    display: flex;
    gap: 1.25rem;
  }

  main {
    background-color: var(--white);
    flex: 1 1 82%;
    overflow-y: auto;

    /* .main-top {
      display: flex;
      justify-content: space-between;
    } */

    .main-top {
      background-color: var(--white);
      height: 8%;
      border-bottom: 0.0625rem solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.875rem;
      position: sticky;
      top: 0;
      z-index: 10;

      .hamburger {
        visibility: hidden;
      }

      .top-right {
        display: flex;
        align-items: center;
        gap: 0.625rem;

        a {
          display: flex;
          align-items: center;
          gap: 0.625rem;
          text-decoration: none;
          color: var(--secondary-color);
        }
      }

      i {
        font-size: 1.25rem;
      }

      img {
        border-radius: 50%;
        width: 1.5625rem;
      }

      span {
        font-size: 0.75rem;
        color: var(--secondary-color);
      }

      .bx-chevron-down {
        font-size: 0.75rem;
      }
    }

    .dashboard-welcome {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.875rem;

      .message {
        h3 {
          color: #34475e;
          font-size: 1.375rem;
        }
        p {
          color: var(--dark-color);
          font-size: 0.75rem;
        }
      }

      .add-inspection-btn {
        padding: 0.625rem;
        background-color: var(--primary-color);
        color: var(--white);
        border: none;
        border-radius: 0.1875rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6875rem;
        gap: 0.3125rem;
        text-decoration: none;
      }
    }

    .body-cards {
      display: flex;
      justify-content: space-between;
      padding: 0.625rem 1.5625rem 0.625rem 0.625rem;
      gap: 0.625rem;
    }

    .card-section {
      flex: 1 1 50%;
      /* height: 15.625rem; */
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .card-one,
    .card-two,
    .card-three,
    .card-four {
      width: 48%;
      border: 0.0625rem solid blue;
      margin: 0.3125rem;
      border-radius: 0.4375rem;
      padding: 1.25rem 1.25rem 0 1.25rem;
      font-size: 0.875rem;
      text-align: right;
      color: var(--white);
      border: none;
      display: grid;
      position: relative;

      i {
        font-size: 1.5625rem;
      }

      div.bubble {
        width: 3.125rem;
        height: 3.125rem;
        background-color: var(--white);
        border-radius: 50%;
        position: absolute;
        border-top-left-radius: 0.3125rem;
        opacity: 0.2;
        /* bottom: 0;
        left: 0; */
      }

      div.left-bubble {
        transform: rotate(-90deg);
        bottom: 0;
        left: 0;
      }

      div.right-bubble {
        transform: rotate(90deg);
        top: 0;
        right: 0;
      }
    }

    .card-one {
      background-color: #4a8dff;
    }

    .card-two {
      background-color: #00b388;
    }

    .card-three {
      background-color: #fdc75b;
    }

    .card-four {
      background-color: #e30000;
    }

    .card-icon-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .activity-section {
      flex: 1 1 40%;
      border: 0.0625rem solid var(--border-color);
      border-radius: 0.3125rem;
      margin-left: 0.625rem;

      .activity-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        font-size: 0.75rem;
        border-bottom: 0.0625rem solid var(--border-color);
        height: 0.3125rem;
      }

      .activity-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        font-size: 0.625rem;
        height: 0.1875rem;
        border-bottom: 0.0625rem solid var(--border-color);
      }

      .right-text-body {
        color: var(--primary-color);
        text-decoration: none;
      }
    }

    .view-all-link {
      text-decoration: none;
      color: #c3c4c6;
      font-size: 0.75rem;
    }
  }

  .table-container {
    /* width: 100%; */
    padding: 0.625rem 1.5625rem 0.625rem 0.625rem;
    margin: 0 0.1875rem;
    font-size: 0.75rem;

    .table-header {
      padding: 1.25rem 0;
      display: flex;
      justify-content: space-between;
    }

    .table-wrap {
      overflow-x: auto;
    }
    table {
      width: 100%;
      border-radius: 0.3125rem;
      border: 0.0625rem solid var(--border-color);
      text-align: left;

      thead {
        color: var(--rare-color);
      }

      tbody {
        color: var(--dark-color);
      }

      tr th {
        border-bottom: 0.0625rem solid var(--border-color);
        padding: 0.625rem 0.625rem;
        text-align: left;
      }

      tr td {
        border-bottom: 0.0625rem solid var(--border-color);
        padding: 0.625rem 0.625rem;
        text-align: left;
        font-size: 0.625rem;
      }

      i.purple {
        color: purple;
        margin: 0.1875rem;
      }

      i.blue {
        color: blue;
        margin: 0.1875rem;
      }

      i.orange {
        color: orange;
        margin: 0.1875rem;
      }

      i.green {
        color: green;
        margin: 0.1875rem;
      }

      i.yellow {
        color: yellow;
        margin: 0.1875rem;
      }

      i.red {
        color: red;
        margin: 0.1875rem;
      }
    }
  }
}
/* Dashboard Style */

/* request page style */
.request-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.875rem;

  .head-nav {
    font-size: 0.75rem;
    background-color: var(--border-color);
    padding: 0.4375rem;
    border-radius: 0.4375rem;

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      margin: 0.125rem;

      &.active {
        background-color: var(--white);
        border-radius: 0.3125rem;
        padding: 0.1875rem 0.4375rem;
      }
    }
  }
  .request-head-right {
    display: flex;
    justify-content: center;
    gap: 0.625rem;

    .request-search {
      display: flex;
      align-items: center;
      gap: 0.3125rem;
      border: 0.125rem solid var(--border-color);
      padding: 0.3125rem;
      border-radius: 0.3125rem;
    }

    input {
      border-radius: 0.25rem;
      outline: none;
      padding: 0.1875rem;
      border: none;
    }
    .tip {
      background-color: var(--border-color);
      padding: 0.1875rem;
      border-radius: 0.1875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      .fa-circle-small {
        color: purple;
        font-size: 0.625rem;
      }

      .fa-close {
        font-size: 0.625rem;
      }
    }

    .sorter select {
      background-color: var(--white);
      padding: 0.625rem;
      border: 0.0625rem solid var(--border-color);
      border-radius: 0.1875rem;
      font-size: 0.625rem;
      color: var(--rare-color);
    }
  }
}

.request-body {
  margin: 0.625rem 1.875rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.3125rem;
  padding: 0.75rem;
  overflow-x: auto;

  .active {
    display: none;
  }

  table {
    width: 100%;
    text-align: left;
    font-size: 0.75rem;

    thead {
      color: var(--rare-color);
    }

    tbody {
      color: var(--dark-color);
    }

    tr th {
      border-bottom: 0.0625rem solid var(--border-color);
      padding: 0.625rem 0.625rem;
      text-align: left;
    }

    tr td {
      border-bottom: 0.0625rem solid var(--border-color);
      padding: 0.625rem 0.625rem;
      text-align: left;
    }

    td a {
      text-decoration: none;
    }
  }
}

.completed {
  background-color: #ecfdf3;
  color: green;
  padding: 0.125rem 0.25rem;
  border-radius: 0.1875rem;
}

.ongoing {
  background-color: #ffdebf;
  color: #ff7a00;
  padding: 0.125rem 0.25rem;
  border-radius: 0.1875rem;
}

.cancel {
  background-color: #fef3f2;
  color: #b42318;
  padding: 0.125rem 0.25rem;
  border-radius: 0.1875rem;
}

.inactive {
  background-color: #f2f4f7;
  color: #344054;
  padding: 0.125rem 0.25rem;
  border-radius: 0.1875rem;
}

/* request page style */

/* new inspection page style*/

.close-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  text-decoration: none;
  font-size: 0.625rem;
  color: #acacac;

  .fa-close {
    font-size: 1.875rem;
  }
}

.new-cards {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 3.125rem;

  .inspection-type {
    display: flex;
    gap: 1.25rem;
  }

  .type-wrapper {
    width: 12.5rem;
    height: 12.5rem;
    border: 0.0625rem solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    gap: 1.25rem;

    &:hover {
      border: 0.0625rem solid red;
    }
  }

  .left-type,
  .right-type {
    /* width: 100%;
    height: 7.5rem; */
    position: relative;

    .arrow {
      position: absolute;
      bottom: 0.625rem;
      left: -0.625rem;
    }

    .center-image {
      width: 6.25rem;
      height: 6.25rem;
      border: 0.1875rem solid var(--rare-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* position: absolute; */
    }

    .center-image img {
      width: 4.375rem;
    }
  }

  p {
    font-size: 0.875rem;
    margin: 0.625rem 0;
    color: #34475e;
  }

  .option-wrap {
    width: 100%;

    select {
      width: 100%;
      padding: 0.3125rem;
      border-radius: 0.3125rem;
      border: 0.0625rem solid var(--border-color);
    }
  }
  button {
    padding: 0.625rem 1.25rem;
    font-size: 0.5rem;
    margin-top: 1.25rem;
    background-color: var(--primary-color);
    border-radius: 0.1875rem;
    border: none;
    color: var(--white);

    a {
      text-decoration: none;
      color: var(--white);
    }
  }
}
/* new inspection page style*/

/* post-lost-type and pre-post form page style */
.post-lost-cards {
  margin: 0.625rem 1.875rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.3125rem;
  padding: 0.75rem;

  p {
    padding: 0.625rem 0;
    font-size: 0.875rem;
    color: #34475e;
  }
  hr {
    border: 0.0625rem solid var(--border-color);
    margin: 1.25rem 0;
  }
  div.first-part,
  div.second-part,
  div.third-part,
  div.bottom-part {
    width: 100%;

    .form-row {
      display: flex;
      gap: 0.625rem;
      margin: 0.625rem 0;

      .input-box {
        width: 50%;
        .input-wrapper {
          display: flex;
          align-items: center;
          gap: 0.3125rem;
          border: 0.0625rem solid var(--border-color);
          border-radius: 0.3125rem;
          padding: 0.625rem;

          /* todo fixed me */
          /* i {
            style your search icon
          } */
        }

        label {
          display: block;
          margin-bottom: 0.3125rem;
          font-size: 0.75rem;
          color: #344054;
        }
        input,
        select {
          width: 100%;
          padding: 0 0.3125rem;
          outline: none;
          border: none;
        }
        select {
          border: 0.0625rem solid var(--border-color);
          padding: 0.625rem;
          border-radius: 0.3125rem;
        }
        select.dial-code {
          border: none;
          padding: unset;
          width: fit-content;
          /* border: .0625rem solid red; */
        }
      }
    }
  }

  .bottom-part {
    .input-box {
      label {
        display: block;
        margin-bottom: 0.3125rem;
        font-size: 0.75rem;
        color: #344054;
      }
      textarea {
        width: 100%;
        resize: vertical;
        border: 0.0625rem solid var(--border-color);
      }
    }
    a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 0.75rem;
      display: block;
      margin-top: 0.625rem;
    }
    .button-div {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.625rem;

      button {
        padding: 0.3125rem 0.9375rem;
        background-color: var(--primary-color);
        border: none;
        border-radius: 0.125rem;
        color: var(--white);
        font-size: 0.625rem;
        cursor: pointer;
      }
    }
  }
}
/* post-lost-type and pre-loss-type form page style */

/* rovenheight-page style */
.rovenheight-card {
  display: flex;
  gap: 1.25rem;

  .rovenheight-left {
    background-color: var(--white);
    /* width: 20%; */
    margin: 0 1.875rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--border-color);

    .img-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.625rem;

      img {
        width: 100%;
        border-radius: 0.3125rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .progress-color {
      color: #00b388;
    }

    p {
      padding: 0.625rem 0;
      font-size: 0.875rem;
      color: var(--secondary-color);

      span {
        color: var(--primary-color);
      }
    }
    .info-card {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-top: 0.625rem;
      padding: 0.3125rem;

      .details {
        span {
          font-size: 0.625rem;
          color: #7a7c87;
        }
        p {
          font-size: 0.75rem;
          color: var(--secondary-color);
        }
      }
    }
  }

  .rovenheight-right {
    .timer {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      position: relative;
      top: -0.3125rem;
      left: -0.3125rem;

      i {
        color: var(--primary-color);
      }

      p {
        font-size: 0.625rem;
        color: #a7a7a7;
      }
    }

    .status-card {
      border-left: 0.0625rem solid #d3d0d0;
      height: 18.75rem;
    }
    .request-info-card {
      margin: 1.25rem 5rem;
      border: 0.0625rem solid var(--border-color);
      padding: 0.625rem;
      border-left: 0.625rem solid var(--primary-color);
      border-radius: 0.3125rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.625rem;
      width: 37.5rem;

      .left-card-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
      }

      .request-card-icons {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        font: 0.875rem;
        color: var(--primary-color);
      }
      .card-user-info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        p {
          font-size: 0.875rem;
          font-weight: bold;
          color: #34475e;
        }

        span {
          font-size: 0.5rem;
          color: var(--primary-color);
        }

        small {
          font-size: 0.5rem;
          color: #7f8b94;
        }
      }

      button {
        background-color: var(--primary-color);
        padding: 0.4375rem 0.9375rem;
        border: none;
        color: var(--white);
        font-size: 0.75rem;
        border-radius: 0.125rem;

        a {
          text-decoration: none;
          color: var(--white);
        }
      }
    }

    .request-info-card-mute {
      margin: 1.25rem 2.5rem;
      border: 0.0625rem solid var(--border-color);
      padding: 0.625rem;
      border-left: 0.625rem solid #737373;
      border-radius: 0.3125rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1.25rem;
      width: 37.5rem;

      .left-card-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
      }

      .request-card-icons {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        font: 0.875rem;
        color: var(--primary-color);
      }
      .card-user-info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        p {
          font-size: 0.875rem;
          font-weight: bold;
          color: #34475e;
        }

        span {
          font-size: 0.5rem;
          color: var(--primary-color);
        }

        small {
          font-size: 0.5rem;
          color: #7f8b94;
        }
      }

      button {
        background-color: #d4d4d4;
        padding: 0.4375rem 1.875rem;
        border: none;
        color: black;
        font-size: 0.75rem;
        border-radius: 0.125rem;
      }
    }
  }
}

/* rovenheight-page style */

/* survey report */
.report-cards {
  margin: 0.625rem 1.875rem;

  .top-report {
    border: 0.0625rem solid var(--border-color);
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: flex;
    gap: 5rem;

    .report-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.625rem;
      gap: 0.625rem;

      img {
        width: 100%;
      }

      span {
        font-size: 0.625rem;
      }
    }

    .center-report {
      display: flex;
      flex-direction: column;
      padding: 0.625rem;
      gap: 1.875rem;

      h2 {
        font-size: 1rem;
        color: #34475e;
      }

      .column-wrap {
        display: flex;
        flex-direction: row;
        gap: 1.875rem;
      }

      .column {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        span {
          font-size: 0.625rem;
          color: #a3a3a3;
        }

        p {
          font-size: 0.75rem;
          color: var(--secondary-color);
        }
      }
    }

    .line-divider {
      border-left: 0.0625rem solid var(--border-color);
    }

    .progress-report {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;

      h3 {
        font-size: 0.75rem;
        color: var(--primary-color);
      }

      span {
        font-size: 0.75rem;
        color: #7f8b94;
      }
    }

    /* progress par styling */

    .progress-container {
      position: relative;
      width: 6.25rem;
      height: 6.25rem;
    }

    .progress-circle {
      transform: rotate(-90deg);
    }

    .progress-background {
      fill: none;
      stroke: #e6e6e6;
      stroke-width: 5;
    }

    .progress-bar {
      fill: none;
      stroke: var(--primary-color);
      stroke-width: 5;
      stroke-linecap: round;
      transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    }

    .progress-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.75rem;
      color: var(--white);
      font-weight: bold;
    }

    .inner-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      font-weight: bold;
      background-color: var(--primary-color);
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 0.625rem;
    }
  }

  .bottom-report {
    margin-top: 1.25rem;
    border: 0.0625rem solid var(--border-color);
    padding: 0.625rem;
    border-radius: 0.3125rem;
    /* display: flex;
    gap: 5rem; */

    .tab-header {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      margin-bottom: 0.625rem;
      border-bottom: 0.0625rem solid var(--border-color);

      .tab-header-option {
        cursor: pointer;
        p {
          margin-bottom: 0.625rem;
          font-size: 0.875rem;
        }
        &.active {
          p {
            color: var(--primary-color);
          }
          .diver-option {
            border-bottom: 0.125rem solid var(--primary-color);
          }
        }
      }
    }
    .tab-one {
      display: flex;

      &.active {
        display: none;
      }

      .first-left-column {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem;
        /* width: 40%; */

        .col-top {
          display: flex;
          gap: 5rem;
        }

        span {
          font-size: 0.75rem;
          font-weight: 800;
          color: #34475e;
        }

        p {
          font-size: 0.875rem;
          color: var(--secondary-color);
          font-weight: 400;
        }
      }

      .second-right-column {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 60%;
        padding: 1.25rem;

        span {
          font-size: 0.75rem;
          font-weight: 800;
          color: #34475e;
        }

        p {
          font-size: 0.875rem;
          color: var(--secondary-color);
          font-weight: 400;
        }

        .column {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
        }
      }
    }

    .tab-two {
      /* padding: .9375rem; */

      &.active {
        display: none;
      }

      .tab-wrap {
        background-color: #fbfbfb;
        padding: 1.875rem 1.25rem 5rem 1.25rem;
        border-radius: 0.3125rem;

        p {
          font-size: 0.875rem;
          color: var(--secondary-color);
        }
      }
    }

    .tab-three {
      padding: 0.625rem;

      &.active {
        display: none;
      }

      .row-document-tab {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.0625rem solid var(--border-color);
        padding: 0.625rem;

        .document-left-tab {
          p {
            font-size: 0.75rem;
            color: #34475e;
          }
        }

        .right-document {
          display: flex;
          gap: 1.875rem;
          font-size: 0.75rem;

          p {
            color: #a7a7a7;
          }

          div {
            color: var(--primary-color);
          }

          a {
            text-decoration: none;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

/* survey report */

/* new page style */

/* new page style */

/* other page styles follow */

@media screen and (max-width: 7680px) {
  html {
    font-size: 80px;
  }
}

@media screen and (max-width: 6144px) {
  html {
    font-size: 70px;
  }
}

@media screen and (max-width: 5120px) {
  html {
    font-size: 70px;
  }
}

@media screen and (max-width: 3840px) {
  html {
    font-size: 50px;
  }
}

@media screen and (max-width: 2048px) {
  html {
    font-size: 25px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* login screen */
  .right-side {
    height: 30vh;
  }
  /* login screen */

  /* Dashboard Style */
  .body-cards {
    flex-direction: column;
    .card-one,
    .card-two,
    .card-three,
    .card-four {
      gap: 1.875rem;
    }
  }
  /* Dashboard Style */

  /* request page */
  .request-head {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 1.25rem;
  }

  .request-head-right {
    display: flex;
    justify-content: center;
    align-items: center;

    /* input {
      display: none;
    } */
  }

  /* request page */

  /* survey page */

  .report-cards {
    .top-report {
      flex-direction: column;
    }

    .line-divider {
      display: none;
    }

    .tab-one {
      flex-direction: column;
    }
  }

  /* survey page */

  /* new page style */
  .new-cards {
    width: 100%;

    .type-wrapper {
      width: 12.5rem;
      height: 12.5rem;
    }
    .option-wrap {
      width: 80%;
    }
  }
  /* new page style */
}

@media screen and (max-width: 768px) {
  .left-side {
    height: 100vh;
    gap: 2.25rem !important;

    .logo img {
      margin-bottom: 0 !important;
    }

    h2 {
      font-size: 2rem;
    }

    .Welcome {
      font-size: 0.875rem;
      color: var(--tertiary-color);
    }
  }
  .right-side {
    display: none;
  }

  /* Dashboard Style */

  aside {
    display: flex !important;
    width: 70%;
    position: fixed;
    z-index: 20;
    height: 100%;
    cursor: pointer;
  }

  aside.active {
    display: none !important;
  }

  .right-aside {
    i {
      display: block !important;
      cursor: pointer;
    }
  }

  main {
    z-index: 1;
    .main-top {
      .hamburger {
        visibility: visible !important;
      }
    }
    .dashboard-welcome {
      .message {
        width: 50%;
        h3 {
          color: #34475e;
          font-size: 1rem !important;
        }
        p {
          color: var(--dark-color);
          font-size: 0.625rem !important;
        }
      }
    }
  }

  .body-cards {
    .card-section {
      flex-direction: column;
      /* display: none !important; */

      .card-one,
      .card-two,
      .card-three,
      .card-four {
        flex: 1;
        width: 100%;
      }
    }
    /* flex-direction: column; */
  }
  /* Dashboard Style */

  /* request page */
  .request-head {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 1.25rem;
  }

  .request-head-right {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      display: none;
    }
  }

  /* request page */

  /* survey page */

  .report-cards {
    .top-report {
      flex-direction: column;
    }

    .line-divider {
      display: none;
    }

    .second-right-column {
      flex-direction: column !important;
    }
  }

  /* survey page */

  /* new page style */
  .new-cards {
    width: 100%;

    .type-wrapper {
      width: 10rem;
      height: 12.5rem;
    }
    .option-wrap {
      width: 120%;
    }
  }
  /* new page style */

  /* roven height page */
  .rovenheight-card {
    display: block;
    width: 90%;

    .rovenheight-left {
      width: 90%;
    }

    .rovenheight-right {
      width: 100%;
      margin: 1.875rem;

      /* .status-card {
        width: 100%;
        height: 21.875rem;
        border: .0625rem solid red;
      } */

      .request-info-card {
        flex-direction: column;
        width: 15.625rem !important;
        margin: 0.625rem 3.75rem !important;

        .left-card-info {
          .card-user-info {
            p {
              font-size: 0.625rem;
            }
          }
        }
      }

      .request-info-card-mute {
        flex-direction: column;
        width: 15.625rem !important;
        margin: 0.625rem 1.875rem !important;

        .left-card-info {
          .card-user-info {
            p {
              font-size: 0.625rem;
            }
          }
        }
      }
    }
  }

  /* roven height page */

  /* post-lost-form */
  .post-lost-cards {
    .form-row {
      flex-direction: column;

      .input-box {
        width: 100% !important;
      }
    }
  }
}
