body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.progress-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress-circle {
  transform: rotate(-90deg);
}

.progress-background {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 5;
}

.progress-bar {
  fill: none;
  stroke: #4caf50;
  stroke-width: 5;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #333;
  font-weight: bold;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #333;
  font-weight: bold;
  background-color: #4caf50;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}
